.digital {
width: 100vw;
height: 100vh;
background-color: #A5A5A5;
font-family: 'Archivo', sans-serif;
}

.column-label-left {
    position: absolute;
width: 19.7841726619vw;
height: 1.77777778vh;
left: 78.6vw;
font-family: 'Archivo', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 0.75em;
line-height: 1vh;
color: #000000;
}

.column-label-right {
    position: absolute;
height: 1.77777778vh;
left: 94vw;
font-family: 'Archivo', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 0.75em;
line-height: 1vh;
color: #000000;
}

.title-heading {
    top: 4vh;
}

.projects-underline {
position: absolute;
width: 90.2vw;
height: 0px;
left: 5.8vw;
top: 6vh;

border: 1px solid #000000;
}

.projects-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 90.4vw;
    left: 5.8vw;    
    top: 8vh;    
}

.project {
    display: grid;
    grid-template-columns: 5fr 1fr 0.5fr;
    /* margin-bottom: 1vh; */
    line-height: 3vh;
    width: 90.4vw;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75em;
    border-bottom: 0.05em solid transparent;
}

.project:hover {
    border-bottom: 0.05em solid #000000;    
} 

.link-edit {
    color: #000000;
    text-decoration: none;
}

.client-column {  
    position: absolute;  
    left: 72.8vw;
    padding-right: 1vw;
}

.year-column {
    position: absolute;
    left: 88.2vw;
}


    .laura-font-digital {
        position: fixed;
        bottom: -3vh;    
        width: 95vw;
        left: 4.4vw;        
        max-height: 100%;
    }

    #project-header {
        position: absolute;
        height: 1vh;
        width: 88.25vw;
        left: 5.8vw;
        font-family: 'Archivo', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 0.75em;
        line-height: 1vh;
        color: #000000;
        }
