.digital {
width: 100vw;
height: 100vh;
background-color: #A5A5A5;
}

.column-label-left {
    position: absolute;
width: 19.7841726619vw;
height: 1.77777778vh;
left: 78.6vw;
font-family: 'Archivo', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 0.75em;
line-height: 1vh;
color: #000000;
}

.column-label-right {
    position: absolute;
height: 1.77777778vh;
left: 94vw;
font-family: 'Archivo', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 0.75em;
line-height: 1vh;
color: #000000;
}

.title-heading {
    top: 4vh;
}

.projects-underline {
position: absolute;
width: 90.2vw;
height: 0px;
left: 5.8vw;
top: 6vh;

border: 1px solid #000000;
}

.project-link {
    text-decoration: none;
    color: black;
    left: 5.8vw;
    width: 90.4vw;
}


.projects-list {
    position: absolute;
    height: 1.5vh;
    width: 90.4vw;
    left: 5.8vw;
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75em;
    line-height: 1vh;
    color: #000000;
    /* overflow: auto; */
    }
 
    .projects-list:hover {
        border-bottom: 0.05em solid black;
    }

    .first-entry {
        top: 8vh;
        margin-bottom: 1vh;
        margin-right: 1vh
    }

    .second-entry {
        top: 11vh;
    }

    .third-entry {
        top: 14vh;
    }

    .fourth-entry {
        top: 17vh;
    }

    .fifth-entry {
        top: 20vh;
    }

    .sixth-entry {
        top: 23vh;
    }

    .seventh-entry {
        top: 26vh;
    }

    .eighth-entry {
        top: 29vh; 
    }

    .ninth-entry {
        top: 32vh;
    }

    .tenth-entry {
        top: 35vh;
    }

    .eleventh-entry {
        top: 38vh;
    }

    .twelfth-entry {
        top: 41vh;
    }

    .laura-font-digital {
        position: fixed;
        bottom: -2vh;    
        width: 94vw;
        left: 4.4vw;        
        max-height: 100%;
    }

    #project-header {
        position: absolute;
        height: 1vh;
        width: 88.25vw;
        left: 5.8vw;
        font-family: 'Archivo', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 0.75em;
        line-height: 1vh;
        color: #000000;
        }
