.about { 
width: 100vw;
height: 100vh;
background-color: #000000;
}

.info {
position: absolute;
width: 612px;
height: 48px;
left: 5.8vw;
top: 3vh;
font-family: 'Archivo', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 0.75em;
line-height: 1vh;
color: #FFFFFF;
}

.left-text-box {
position: absolute;
width: 24.9640288vw;
height: 48px;
left: 398px;
top: 3vh;
font-family: 'Archivo', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 0.75em;
line-height: 1vh;
color: #FFFFFF;
}

.bio {
    position: absolute;
width: 44.2vw;
height: 41.7vh;
top: 2vh;
font-size: 0.75em;
font-family: 'Archivo', sans-serif;
font-style: normal;
font-weight: 500;
line-height: 3vh;
color: #FFFFFF;
left: 53.6vw;
}

.laura-font-about {
    position: relative;    
    width: 94vw;
    left: 4.4vw;
    top: 66vh;
    filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(257deg) brightness(105%) contrast(100%);
}