.about { 
width: 100vw;
height: 100vh;
background-color: #000000;
}

.info {
position: absolute;
width: 612px;
height: 48px;
left: 80px;
top: 27px;
font-family: 'Archivo', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 16px;
color: #FFFFFF;
}

.left-text-box {
position: absolute;
width: 347px;
height: 48px;
left: 398px;
top: 27px;
font-family: Archivo;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 16px;
color: #FFFFFF;
}

.bio {
    /* word-wrap: inherit; */
    position: absolute;
width: 44.2vw;
height: 41.7vh;
top: 27px;
font-family: 'Archivo', sans-serif;
font-style: normal;
font-weight: 500;
/* font-size: 90%; */
line-height: 16px;
overflow: none;
color: #FFFFFF;
left: 53.6vw;
}