.rectangle {
position: absolute;
width: 50px;
height: 300px;
left: 0px;
}

.one {
top: 0px;
background: #000000;
}

.two {
top: 300px;
background: #A5A5A5;
}

.three {
top: 600px;
background: #FFFFFF;
}

.header-item {
    height: 19px;
    left: 15px;
    font-family: 'Archivo', sans-serif;
    font-size: 15px;
line-height: 16px;
text-align: right;
transform: rotate(-90deg);
font-style: normal;
font-weight: normal;
text-decoration: none;
}

.about-item {
    position: absolute;
    height: 19px;
width: 42px;
top: 67px;
color: #FFFFFF;
transform: rotate(-90deg);
}

.digital-item {
position: absolute;
top: 67px;
color: #000000;
}

.print-item {
    position: absolute; 
top: 67px;
color: #000000;
}