.header-nav {
    position: absolute;    
}
.rectangle {
position: absolute;
width: 4vw;
height: 34vh;
left: 0vw;
}

.one {
background: #000000;
}

.two {
top: 33vh;
background: #A5A5A5;
}

.three {
top: 66vh;
background: #FFFFFF;
}

.header-item {
height: 10vh;
width: 8vw;   
font-family: 'Archivo', sans-serif;
font-size: 0.75em;
text-align: right;
transform: rotate(-90deg);
font-style: normal;
font-weight: normal;
text-decoration: none;
left: 0vw;
}

.about-item {    
position: absolute;    
top: 5.5vh;
color: #FFFFFF;
}

.digital-item { 
position: absolute;
top: 5.5vh;
color: #000000;

}

.print-item {    
position: absolute; 
top: 5.5vh;
color: #000000;
}