
  html {
    height: 100%;
  } 
  /* Header CSS */
  
  .header-nav {
    position: absolute;    
  }
  .rectangle {
  position: absolute;
  width: 4vw;
  height: 34vh;
  left: 0vw;
  }
  
  .one {
    top: 0vh;
  background: #000000;
  }
  
  .two {
  top: 33vh;
  background: #A5A5A5;
  }
  
  .three {
  top: 66vh;
  background: #FFFFFF;
  }
  
  .header-item {
  height: 10vh;
  width: 8vw;   
  font-family: 'Archivo', sans-serif;
  font-size: 0.75rem;
  text-align: right;
  transform: rotate(-90deg);
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  left: 0vw;
  }
  
  .about-item {    
  position: absolute;    
  top: 5.5vh;
  color: #FFFFFF;
  }
  
  .digital-item { 
  position: absolute;
  top: 5.5vh;
  color: #000000;
  
  }
  
  .print-item {    
  position: absolute; 
  top: 5.5vh;
  color: #000000;
  }
  
  
  /* About CSS */
  
  .about { 
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    }
    
    .info {
    position: absolute;
    width: 20vw;
    height: 5.333vh;
    left: 5.8vw;
    top: 3vh;
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.75em;
    line-height: 2vh;
    color: #FFFFFF;
    }
    
    .left-text-box {
    position: absolute;
    width: 24.9640288vw;
    height: 5.333vh;
    left: 27.6388888889vw;
    top: 3vh;
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75em;
    line-height: 2vh;
    color: #FFFFFF;
    }
    
    .bio {
        position: absolute;
    width: 44.2vw;
    height: 41.7vh;
    top: 2vh;
    font-size: 0.75em;
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 3vh;
    color: #FFFFFF;
    left: 53.6vw;
    }
    
    .laura-font-about {
        position: fixed;
        bottom: -3vh;   
        width: 95vw;
        left: 4.4vw;    
        filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(257deg) brightness(105%) contrast(100%);
    }
    
    .brand-italic {
        font-style: italic;
        font-weight: 800;
    }
  
  /* Print CSS  */
  
  .print {
    width: 100vw;
    height: 100vh;
    background: #FFFFFF;
    font-family: 'Archivo', sans-serif;
    }
    
    .print-image-landscape {
        width: 14.3055555556vw;
        height: 14.8888888889vh;
        display: block;
        /* visibility: hidden; */
    
    }
  
    /* Digital CSS */
    .digital {
      width: 100vw;
      height: 100vh;
      background-color: #A5A5A5;
      font-family: 'Archivo', sans-serif;
      }
      
      .column-label-left {
          position: absolute;
      width: 19.7841726619vw;
      height: 1.77777778vh;
      left: 88.4vw;
      font-family: 'Archivo', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 0.75em;
      line-height: 1vh;
      color: #000000;
      }       
      
      .title-heading {
          top: 4vh;
      }
      
      .projects-underline {
      position: absolute;
      width: 89.8vw;
      height: 0px;
      left: 5.8vw;
      top: 6vh;
      
      border: 1px solid #000000;
      }
      
      .projects-table {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          position: relative;
          width: 90.4vw;
          left: 5.8vw;    
          top: 8vh;    
      }
      
      .project {
          display: grid;
          grid-template-columns: 2fr 2fr;
          /* margin-bottom: 1vh; */
          line-height: 3vh;
          width: 90vw; 
          font-style: normal;
          font-weight: 500;
          font-size: 0.75em;
          border-bottom: 0.05em solid transparent;
      }
      
      .project:hover {
          border-bottom: 0.05em solid #000000;    
      } 
      
      .link-edit {
          color: #000000;
          text-decoration: none;
      }
      
      .client-column {  
          position: absolute;  
          left: 82.6vw;
          /* padding-left: -4vw; */
          
      }       
      
          .laura-font-digital {
              position: fixed;
              bottom: -3vh;    
              width: 95vw;
              left: 4.4vw;        
              max-height: 100%;
          }
      
          #project-header {
              position: absolute;
              height: 1vh;
              width: 88.25vw;
              left: 5.8vw;
              font-family: 'Archivo', sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 0.75em;
              line-height: 1vh;
              color: #000000;
              }
    

  

/* iPhone 5/SE */

            @media only screen 
and (min-device-width: 320px) 
and (min-device-height: 568px)
/* and (max-device-width: 374px) 
and (max-device-height: 666px) */
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
  .laura-font-about {
    position: absolute;
    bottom: 6vh;   
    width: 95vw;
    left: 2.6vw;    
    filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(257deg) brightness(105%) contrast(100%);    
}

.laura-font-digital {
  position: absolute;
  bottom: 6vh;    
  width: 95vw;
  left: 2.6vw;        
}

  /* About Page */
  .about { 
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    }  
  .info {
    position: absolute;
    width: 60vw;
    height: 5.333vh;
    left: 5.8vw;
    top: 3vh;
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.6rem;
    line-height: 1vh;
    color: #FFFFFF;
    }

    .left-text-box {
      position: absolute;
      width: 60vw;
      height: 5.333vh;
      left: 5.8vw;
      top: 14vh;
      font-family: 'Archivo', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 0.6rem;
      line-height: 1vh;
      color: #FFFFFF;
      }

      .bio {
        position: absolute;
    width: 88vw;    
    top: 30vh;
    font-size: 0.6rem;
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 2vh;
    color: #FFFFFF;
    left: 5.8vw;
    }

    /* Header */
  .rectangle {
    position: absolute;
    top: 94vh;
    width: 33vw;
    height: 6vh;        
    }

    .one {
      background: #000000;
      }
      
      .two {
      left: 33vw;
      background: #A5A5A5;
      }
      
      .three {
      left: 66vw;
      background: #FFFFFF;
      }
      .header-item {
        height: 4vh;
        width: 12vw;   
        font-family: 'Archivo', sans-serif;
        font-size: 0.6rem;
        text-align: center;
        transform: rotate(0deg);
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        left: 10vw; 
        top: 1vh;       
        }

        .about-item {    
          position: absolute;    
          /* bottom: 20vh; */
          color: #FFFFFF;
          }
          
          .digital-item { 
          position: absolute;        
          /* bottom: 20vh; */
          color: #000000;
          
          }
          
          .print-item {    
          position: absolute; 
          /* top: 5.5vh; */
          color: #000000;
          }

          /* Digital Page */

          .digital {
            width: 100vw;
            height: 100vh;
            background-color: #A5A5A5;
            font-family: 'Archivo', sans-serif;
            }
            
            .column-label-left {
                position: absolute;
            width: 19.7841726619vw;
            height: 1.77777778vh;
            left: 72vw;
            font-family: 'Archivo', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 0.6em;
            line-height: 1vh;
            color: #000000;
            }       
            
            .title-heading {
                top: 4vh;
            }
            
            .projects-underline {
            position: absolute;
            width: 87.6vw;
            height: 0px;
            left: 5.8vw;
            top: 6vh;
            
            border: 1px solid #000000;
            }
            
            .projects-table {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                position: relative;
                width: 90.4vw;
                left: 5.8vw;    
                top: 8vh;    
            }
            
            .project {
                display: grid;
                grid-template-columns: 4fr 2fr;
                /* margin-bottom: 1vh; */
                line-height: 2.4vh;
                width: 88vw; 
                font-style: normal;
                font-weight: 500;
                font-size: 0.6em;
                border-bottom: 0.05em solid #000000;
            }          
            
            .link-edit {
                color: #000000;
                text-decoration: none;
            }
            
            .client-column {  
                position: absolute;  
                left: 66vw;
                /* padding-left: -4vw; */                
            }       
                        
            
                #project-header {
                    position: absolute;
                    height: 1vh;
                    width: 88.25vw;
                    left: 5.8vw;
                    font-family: 'Archivo', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 0.6em;
                    line-height: 1vh;
                    color: #000000;
                    }
   
}

/* iPhone 6/7/8 */

@media only screen 
and (min-device-width: 375px) 
and (min-device-height: 667px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    /* Header */
    .header-item {    
      top: 1.6vh;
      text-align: center;
      }
  .rectangle {
    position: absolute;
    top: 94vh;
    width: 34vw;
    height: 6.2vh;        
    }
          /* Digital & Print Pages */                
            .column-label-left {
                position: absolute;
            width: 19.7841726619vw;
            height: 1.77777778vh;
            left: 74.6vw;
            font-family: 'Archivo', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 0.6em;
            line-height: 1vh;
            color: #000000;
            }                                                 

            .client-column {  
                position: absolute;  
                left: 69vw;
                /* padding-left: -4vw; */                
            }                                                                       
}

/* iPhone X */
@media only screen 
and (min-device-width: 414px) 
and (min-device-height: 736px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
     /* Digital & Print Pages */                
     .column-label-left {
      position: absolute;
  width: 19.7841726619vw;
  height: 1.77777778vh;
  left: 76vw;
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.6em;
  line-height: 1vh;
  color: #000000;
  }                                                 

  .client-column {  
      position: absolute;  
      left: 70.4vw;
      /* padding-left: -4vw; */                
  }     
}

/* iPad */
@media only screen 
and (min-device-width: 768px) 
and (min-device-height: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
  .info, .left-text-box, .bio, .header-item, .column-label-left, .project, #project-header {
    font-size: 0.8rem;
  }
  .header-item {    
    top: 2vh;       
    }

    .column-label-left {
      position: absolute;
  left: 82vw;  
  }                                                 

  .client-column {  
      position: absolute;  
      left: 76vw;
      /* padding-left: -4vw; */                
  }   
  .rectangle {
    position: absolute;
    top: 94vh;
    width: 33vw;
    height: 6vh;        
    } 
}

@media only screen 
and (min-device-width: 1024px) 
and (min-device-height: 1366px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
  .info, .left-text-box, .bio, .header-item, .column-label-left, .project, #project-header {
    font-size: 1rem;
  }
}


  